<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sebastiani</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Startseite</a></li>
					<li><a href="/ablauf" class="link">Ablauf</a></li>
					<li><a href="/geschichte" class="link">Geschichte</a></li>
					<li><a href="/post" class="link">Neuigkeiten</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kontakt</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Mitglied werden</a></li>
					<li><a href="/contact" class="link">Fragen stellen</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/SebastianiLengfurt/" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

{{ if hasPrefix .RelPermalink "/admin" }}
	<script src="/app.js"></script>
{{ end }}


