<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-50-ns ph1-ns">
			<a href="/img/{{ .image1.image }}.jpg"><img src="/img/{{ .image1.image }}-thumb.jpg" alt="{{ .image1.alt }}"></a>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<a href="/img/{{ .image2.image }}.jpg"><img src="/img/{{ .image2.image }}-thumb.jpg" alt="{{ .image2.alt }}"></a>
		</div>

		<div class="w-100 ph1-ns">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
		</div>
	</div>

</div>
