<header class="header">
	<div>
		<a href="" class="logo">Sebastiani</a>
	</div>
	
	<div>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="burger-menu">
			<li><a href="/neuigkeiten/">Neuigkeiten</a></li>
			<li><a href="/ablauf/">Ablauf</a></li>
			<li><a href="/geschichte/">Geschichte</a></li>
			<li><a href="/filme/">Filme</a></li>
			<li><a href="/kontakt/">Kontakt</a></li>
		</ul>
	</div>
	
  </header>

