<header class="header" display="flex">
	<div>
		<a href="" class="logoLarge">Sebastiani</a>
		<a href="" class="logoSmall">S</a>
	</div>
	
	<div class="mobileTitle">
		{{ .Title }}
	</div>

	<div>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="burger-menu">
			<li><a href="/neuigkeiten/">Neuigkeiten</a></li>
			<li><a href="/ablauf/">Ablauf</a></li>
			<li><a href="/geschichte/">Geschichte</a></li>
			<li><a href="/filme/">Filme</a></li>
			<li><a href="/bilder/">Bilder</a></li>
			<li><a href="/dienstgrade/">Dienstgrade</a></li>
			<li><a href="/kontakt/">Kontakt</a></li>
		</ul>
	</div>
	
  </header>

