{{ define "main" }}

<!-- Überschrift und Eingangstext -->
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="mw7 center pv4">
  <div class="mw7 ph3 mb3">
    <div class="mb4 mw7"> {{ .Content }} </div>
  </div>
</div>


<!-- Bilder mit Text darunter -->
{{ partial "4-up" .Params.year }}


<div class="bg-grey-1 pv4">
    <div class="flex-l mhn1-l ph3 center mw7">
        <p class="w-60-l mb0">Zurück zur <a href="/bilder">Übersicht der Bilder</a></p>
    </div>
</div>
  
{{ end }}