{{ define "main" }}

<!-- Überschrift und Eingangstext -->
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="mw7 center pv4">
  <div class="flex center mw7 flex justify-between ph3">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}">← {{ .NextInSection.Title }}</a>
    {{ else }}
      <span style="min-width:77px"> </span>
    {{ end }}
    <a href="/bilder">Bilder-Übersicht</a>
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }} →</a>
    {{ else }}
      <span style="min-width:77px"> </span>
    {{ end }}
  </div>
</div>


<div class="mw7 center pv4">
  <div class="mw7 mb3 ph3">
    <div class="mw7"> {{ .Content }} </div>
  </div>
</div>

<!-- Bilder mit Text darunter -->
{{ partial "4-up" .Params.year }}


<div class="mw7 center pv4">
  <div class="flex center mw7 flex justify-between ph3">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}">← {{ .NextInSection.Title }}</a>
    {{ else }}
      <span style="min-width:77px"> </span>
    {{ end }}
    <a href="/bilder">Bilder-Übersicht</a>
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }} →</a>
    {{ else }}
      <span style="min-width:77px"> </span>
    {{ end }}
  </div>
</div>

{{ end }}
