{{ define "main" }}

<!-- Überschrift und Eingangstext -->
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<!-- Bilder mit Text darunter -->
{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw7 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p class="mb4 mw7">{{ .description }}</p>
  </div>
</div>

<!-- Image grid mit 2 kleinen und 1 großem Bild -->
{{ partial "image-grid" . }}
{{ end }}

<!-- Zitate -->
<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Abschlussbild über gesamte Breite -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

{{ partial "table" .Params.pricing }}

{{ end }}
